---
import ListItem from './ListItem.astro'

const { socialNetworks, class: styles } = Astro.props
---

<nav>
	<ul class={`flex gap-x-4 mt-2 ${styles}`}>
		{
			socialNetworks.map(([social, links]) => {
			if (links.length) {
				const [linkOne, linkTwo] = links
				return (
					<>
						<ListItem href={linkOne} src={`/public/social/${social}.svg`} alt={`Logo ${social}`}/>
						<ListItem href={linkTwo} src={`/public/social/${social}.svg`} alt={`Logo ${social}`}/>
					</>
				)
			} else {
				return (
					<ListItem href={links.href} src={`/public/social/${social}.svg`} alt={`Logo ${social}`}/>
				)
				}
			})
		}
	</ul>
</nav>
