---
import LogoTeam from './LogoTeam.astro'

const URL = 'https://kings-league-api.lautaronorielasat.workers.dev/leaderboard'

const res = await fetch(URL)
const leaderboard = await res.json()
---
<div class="relative overflow-x-auto shadow-lg shadow-white rounded-xl col-span-1 ">
    <table class="w-full px-2 text-sm text-left text-gray-500">
        <thead class="text-xs text-white uppercase bg-black">
            <tr>
                <th scope="col" class="py-3 px-2 text-center">
                    Pos
                </th>
                <th scope="col" class="py-3 px-2 text-center">
                    Equipo
                </th>
								<th></th>
                <th scope="col" class="py-3 px-2 text-center">
                    V
                </th>
                <th scope="col" class="py-3 px-2 text-center">
                    D
                </th>
            </tr>
        </thead>
        <tbody>
					{
						leaderboard.map((team, index) => {
							const { wins, loses, team: teamData } = team
							const { name, image } = teamData

							return (
								<tr class="bg-white border-b text-gray-700 border-gray-300 ">
									<th scope="row" class="px-2 py-2 font-semibold text-gray-900 whitespace-nowrap text-center">
											{index + 1}
									</th>
									<td class=" px-2 py-2">
										<LogoTeam image={image} class="w-8 mx-auto" name={name}/>
									</td>
									<td class=" px-2 py-2 text-left">
										{name}
									</td>
									<td class=" px-2 py-2 text-center">
											{wins}
									</td>
									<td class=" px-2 py-2 text-center">
											{loses}
									</td>
							</tr>
							)
						})
					}
        </tbody>
    </table>
</div>
