---
import LogoTeam from './LogoTeam.astro'

const URL = 'https://kings-league-api.lautaronorielasat.workers.dev/leaderboard'

const res = await fetch(URL)
const leaderboard = await res.json()
---
<div class="relative overflow-x-auto shadow-md sm:rounded-lg">
    <table class="w-full text-sm text-left text-gray-500 dark:text-gray-400">
        <thead class="text-xs text-gray-700 uppercase bg-gray-50 dark:bg-gray-700 dark:text-gray-400">
            <tr>
                <th scope="col" class="px-6 py-3">
                    Pos
                </th>
                <th scope="col" class="px-6 py-3">
                    Equipo
                </th>
                <th scope="col" class="px-6 py-3">
                    V
                </th>
                <th scope="col" class="px-6 py-3">
                    D
                </th>
            </tr>
        </thead>
        <tbody>
					{
						leaderboard.map((team, index) => {
							const { wins, loses, team: teamData } = team
							const { name, image } = teamData

							console.log(team)
							return (
								<tr class="bg-white border-b dark:bg-gray-900 dark:border-gray-700">
									<th scope="row" class="px-6 py-4 font-medium text-gray-900 whitespace-nowrap dark:text-white">
											{index}
									</th>
									<td class="px-6 py-4 flex items-center gap-x-2">
										<LogoTeam image={image} class="w-8" name={name}/>
											{name}
									</td>
									<td class="px-6 py-4">
											{wins}
									</td>
									<td class="px-6 py-4">
											{loses}
									</td>
							</tr>
							)
						})
					}
        </tbody>
    </table>
</div>
