---
import { getAllTeams } from '../../services/teams.js'

const teams = await getAllTeams()
---

<section class="grid grid-cols-1 sm:grid-cols-2 lg:grid-cols-3 place-items-center gap-8 mx-auto mb-10">
	{
		teams.map(team => {
			const { name, inverse: imageInverse, color, teamId } = team
			const styleImage = { backgroundImage: `url(${imageInverse})` }

			return (
			<a class="w-full sm:w-full lg:w-full h-40" href={`/equipos/${teamId}`}>
				<figure style={`--tw-gradient-stops:${color},${color}, #f1f1f1; `} class='h-full relative rounded-xl overflow-hidden bg-gradient-to-tr' >
					<div class="h-full flex justify-center items-center gap-x-4">
						<img src={imageInverse} alt={name} class="w-16">
						<h3 class="font-bold text-white text-xl">{name}</h3>
					</div>
					<div class="z-0 absolute inset-0 opacity-25 bg-center bg-[length:150%_150%] hover:bg-[length:250%_250%] transition-all" style={styleImage}></div>
				</figure>
			</a>

			)
		})
	}
</section>
