---
import { getMVPPlayer } from '../../services/mvp.js'
import { getTeam } from '../../services/teams.js'
import { getTopAssistsPlayer } from '../../services/top-assists.js'
import { getTopScorerPlayer } from '../../services/top-scorer.js'

const { class: styles, from } = Astro.props

let topPlayer

switch (from) {
	case 'mvp':
		topPlayer = await getMVPPlayer()
		break

	case 'top-scorer':
		topPlayer = await getTopScorerPlayer()
		break

	case 'top-assists':
		topPlayer = await getTopAssistsPlayer()
		break
}

const { teamId, player: name } = topPlayer
const teamPlayer = await getTeam(teamId)
const { color, inverse: imageInverse, name: team } = teamPlayer
const styleImage = { backgroundImage: `url(${imageInverse})` }

const player = teamPlayer.players.find(player => player.name === name)
let image

if (!player) image = 'https://kings-league-api.lautaronorielasat.workers.dev/static/teams/placeholder.webp'
else image = player.image
---

<figure class={`text-white p-4 h-full relative rounded-xl overflow-hidden bg-gradient-to-tr ${styles}`} style={`--tw-gradient-stops:${color},${color}, #f1f1f1; `} >
	<div class="flex relative z-10 justify-between h-full">
		<div class="flex flex-col h-full relative w-1/2 justify-between">
			<div>
				<slot/>
			</div>
			<div>
				<p class="font-bold">{name}</p>
				<p class="text-sm">{team}</p>
			</div>
		</div>
			<img class="h-full relative w-auto-bottom-4 z-20 -bottom-4" src={image} alt={name}>
	</div>
	<div class="z-0 absolute inset-0 opacity-25 bg-center bg-[length:150%_150%]" style={styleImage}></div>
</figure>
