---
import { getTeam } from '../../../services'
import Main from '../../components/Main.astro'
import Layout from '../../layouts/Layout.astro'

export const getStaticPaths = async () => {
	const teamsId = ['kunisports', 'los-troncos-fc', '1k', 'pio-fc', 'el-barrio', 'jijantes-fc', 'saiyans-fc', 'aniquiladores-fc', 'xbuyer-team', 'ultimate-mostoles', 'porcinos-fc', 'rayo-barcelona']

	const pages = teamsId.map(id => {
		const params = { params: { id } }
		return params
	})

	return pages
}

const teamId = Astro.params.id
console.log(teamId)
const team = await getTeam(teamId)
const { name, image, color, inverse: imageInverse } = team
console.log(team)

const styleImage = { backgroundImage: `url(${imageInverse})` }

---

<Layout>
	<Main style={`--tw-gradient-stops:${color},${color}, #f1f1f1; width: 100% `} class='h-full relative overflow-hidden bg-gradient-to-tr pl-16 py-20'>
		<section class="relative z-10 flex items-center">
			<img class="w-40" src={image} alt={name}>
			<h1 class="text-white text-6xl font-bold ml-8">{name}</h1>
		</section>
		<section>

		</section>
		<div class="z-0 absolute inset-0 opacity-25 bg-center bg-[length:150%_150%] transition-all" style={styleImage}></div>
	</Main>
</Layout>
