---
import { getCoach } from '../../../services/coaches.js'
import { getLeaderboardTeam } from '../../../services/leaderboard.js'
import { getPresident } from '../../../services/presidents.js'
import { getTeam } from '../../../services/teams.js'
import CardCoach from '../../components/CardCoach.astro'
import CardPlayer from '../../components/CardPlayer.astro'
import CardPresident from '../../components/CardPresident.astro'
import ListSocialNetworksPlayers from '../../components/ListSocialNetworksPlayers.astro'
import Main from '../../components/Main.astro'
import TeamLeaderboard from '../../components/TeamLeaderboard.astro'
import TeamsCards from '../../components/TeamsCards.astro'
import Layout from '../../layouts/Layout.astro'

export const getStaticPaths = async () => {
	const teamsId = ['kunisports', 'los-troncos-fc', '1k', 'pio-fc', 'el-barrio', 'jijantes-fc', 'saiyans-fc', 'aniquiladores-fc', 'xbuyer-team', 'ultimate-mostoles', 'porcinos-fc', 'rayo-barcelona']

	const pages = teamsId.map(id => {
		const params = { params: { id } }
		return params
	})

	return pages
}

const teamId = Astro.params.id
const team = await getTeam(teamId)
const { name, image, color, inverse: imageInverse, socialMedias, presidentId, coachId, players } = team
const { image: presidentImage, name: presidentName } = await getPresident(presidentId)
const { image: coachImage, name: coachName } = await getCoach(coachId)

const teamLeaderboard = await getLeaderboardTeam(teamId)
const socialNetworks = Object.entries(socialMedias)

const styleImage = { backgroundImage: `url(${imageInverse})` }
---

<Layout>
	<Main style={'width: 100%'} >
		<section style={`--tw-gradient-stops:${color},${color}, #f1f1f1;`} class='h-full relative overflow-hidden bg-gradient-to-tr px-4 pt-10 pb-20'>
			<div class="md:flex md:justify-around relative z-10">
				<article>
					<div class="flex justify-center sm:justify-start items-center w-full">
					<img class="w-32 sm:w-44" src={image} alt={name}>
					<div>
						<h1 class="text-white text-3xl sm:text-4xl font-bold ">{name}</h1>
						<ListSocialNetworksPlayers class="justify-start" socialNetworks={socialNetworks}/>
					</div>
				</div>
				<TeamLeaderboard teamLeaderboard={teamLeaderboard}/>
			</article>
			<article class="flex justify-center gap-x-4 mt-6">
				<CardPresident src={presidentImage} alt={presidentName} teamName={name} teamImage={imageInverse}/>
				<CardCoach src={coachImage} alt={coachName} teamName={name} teamImage={imageInverse}/>
			</article>
		</div>
		<div class="my-16 border-t-4 border-white"></div>
		<div class="flex flex-wrap gap-2 sm:gap-4 justify-center">
			{
				players.map(({ name: playerName, image: playerImage, playerStats, position }) => (
					<CardPlayer src={playerImage} name={playerName} position={position} playerStats={playerStats}/>
				))
			}
		</div>
			<div class="z-0 absolute inset-0 opacity-25 bg-center bg-[length:150%_150%] transition-all" style={styleImage}></div>
		</section>
		<div class="py-20 bg-gradient-to-b mb-20" style={`--tw-gradient-stops:${color},${color}, #fff; `} ></div>
		<section class="w-11/12 mx-auto">
			<TeamsCards/>
		</section>
	</Main>
</Layout>
